<html>
<head>
</head>
<body>
<h2>Add Firework</h2>
    <form action="/fireworks" method="post">
        <div class="label">Name:</div><input name="description">
        <div class="label">Box:</div><input name="box">
        <div class="label">Channel:</div><input name="channel">
        <div class="label">Polarity:</div><input name="polarity">
        <div class="label">Size:</div><select name="size">
		<option value="S">Small</option>
		<option value="M"/>Medium</option>
		<option value="L"/>Large</option>
		<option value="XL"/>Extra Large</option>
	</select>
        <input type="submit" value="Add Firework">
    </form>
</body>
</html>
