<html>
<head>
</head>
<body>
<h2>Add Firework</h2>
    <form action="/fireworks" method="post">
        <div class="label">Name:</div><input name="description">
        <div class="label">Box:</div><input name="box">
        <div class="label">Channel:</div><input name="channel">
        <div class="label">Polarity:</div><input name="polarity">
        <input type="submit" value="Add Firework">
    </form>
</body>
</html>
